body {
    width: 100%;
    font-family: sans-serif;
     /*couleur de fond*/
}

#page_index {
   /*couleur de fond*/
/*ombre éventuelle*/
	border: 2px solid grey;
    width: 90%;
    margin: auto;
}

header { 
background-color: #7257CA;
    overflow: auto;
    color: white;
}

header h1{ 
float :left;
margin-top: 15px;
    width: 50%;
}

header form { 
margin-top: 15px;
margin-right: 10px;
float: right;
}

header h1 { 
padding-left : 28px;
}

header + h2 {
clear: both;
}

h2, h3, fieldset, fieldset + input {
	margin-left : 28px;
}

fieldset + input { 
margin-top: 5px;
margin-bottom: 5px;
 }

.resultats {
	background-color: #DCDCED;
	margin-top: 10px;
	margin-left: 28px;
	margin-right: 28px;
	margin-bottom: 15px;
	padding: 10px;
}

@media only screen and (max-width: 960px)
{	
	#page_index {
	width: 100%;

	}
    header h1{ 
        text-align: center;
        margin-top: 15px;
        width: auto;
    }
	
}


@media only screen and (max-width: 480px)
{

	body
	{
	text-align: center;	
	}
	
	h2, fieldset, input[name=rech] {
	margin-left : 0;
}

	.resultats, .resultats p {
		max-width: 100%;
	}

	input {
		max-width: 100%;
		margin:auto;
	}

	fieldset input {
	display: block;
	}

	header input {
		display: block;
		text-align: left;
	}

	.resultats {
	
	}

}


@media only screen and (max-width: 320px)
{
	
	
}


